* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

.eclipse1stFAQ {
  height: 500px;
  width: 500px;
  background-color: rgba(152, 244, 222, 0.45);
  position: absolute;
  top: -6rem;
  left: -4rem;
  z-index: -2;
  border-radius: 100%; 
  border: 1px solid #98F4DE;
}

.heading1{
  margin-top: 10px;
  padding: 20px;
  text-align: center;

}

.heading23{
  /* margin-top: 0px; */
  padding-top: 10px;
  padding-left: 50px;
  font-size: 20px;
  line-height: 1.5;


}
.para3{
  /* margin-top: 0px; */
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 80px;
  line-height: 1.5;
  font-size: 16px;
}
.Service3FAQ{
  height: 750px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: rgba(152, 244, 222, 0.6);;
  border-radius: 30px;
  border: 1px solid #98F4DE;


}

.eclipse2ndFAQ {
  height: 500px;
  width: 500px;
  background-color: rgba(152, 244, 222, 0.45);
  position: absolute;
  top: 40rem;
  right: -4rem;
  z-index: -2;
  border-radius: 100%; 
  border: 1px solid #98F4DE;

}