* {
  font-family: "Mulish", sans-serif, "Manrope", sans-serif;
  box-sizing: border-box;
}

.signUpMainDiv {
  width: 70%;
  margin: 70px auto 270px auto;
  position: relative;
}

.signUpImage {
  position: absolute;
  height: 80vw;
  width: 100vw;
  max-width: 1300px;
  max-height: 820px;
  border-radius: 15px; /* Rounded corners */
  display: block;
}

.formMain {
  margin-top: -1rem;
  margin-left: 5vw;
}

.signupForm {
  overflow: hidden;
  position: relative;
  background-color: rgba(207, 197, 167, 0.75);
  border: 1px solid rgba(255, 193, 7, 1);
  border-radius: 20px;
  width: 60%;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
}

.formHeading {
  text-align: center;
  font-size: 2.5rem;
}

.formPara {
  text-align: center;
  color: white;
  margin: 1rem auto;
}

.formPara a {
  text-decoration: none;
  color: rgb(113, 249, 181);
  font-weight: 600;
}

.formlabel {
  display: block;
  margin: 5%;
  font-size: 1rem;
}

.formInput {
  width: 90%;
  height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px 5%;
}

.formInput::placeholder {
  font-size: 1rem;
  padding-left: 8px;
}

.signUpAs {
  margin-left: 80px;
}

.customRadio {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
}

.squareButton input[type="radio"],
.squareButton input[type="checkbox"] {
  display: none;
}

.squareButton input[type="radio"]:checked + .customRadio::after,
.squareButton input[type="checkbox"]:checked + .customRadio::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

.squareButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
}

.labelText {
  width: 120px;
  background-color: white;
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  gap: 10px;
}

.labelText:hover {
  cursor: pointer;
  background-color: unset;
}

.TandC {
  display: flex;
  margin-left: 80px;
  gap: 10px;
  align-items: baseline;
}

.TandC input {
  border: 2px solid white;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.submitForm {
  display: block;
  margin: 20px 5%;
  width: 90%;
  height: 47px;
  border-radius: 25px; /* Rounded corners */
  border: none;
  color: white;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, rgba(29, 166, 132, 1), rgba(190, 220, 124, 0.99));
}

.hrLine {
  display: flex;
  align-items: baseline;
  margin-left: 80px;
  gap: 5px;
}

.straightLine {
  border-bottom: 2px solid black;
  width: 40%;
}

.iconsDiv {
  overflow-y: hidden;
  border-radius: 0.3rem;
  margin-left: 200px;
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .signUpMainDiv {
    width: 80%;
  }

  .signUpImage {
    height: 95vw;
    width: 90vw;
  }

  .formMain {
    margin-left: 2vw;
  }

  .signupForm {
    width: 60%;
    padding: 2%;
  }

  .formHeading {
    font-size: 1.8rem;
  }

  .formPara {
    margin: 0.7rem auto;
  }

  .formlabel {
    font-size: 0.8rem;
    margin: 3%;
  }

  .formInput {
    height: 30px;
    font-size: 0.8rem;
  }

  .signUpAs {
    margin-left: 40px;
  }

  .TandC {
    margin-left: 40px;
  }

  .submitForm {
    font-size: 1rem;
    height: 40px;
  }

  .hrLine {
    margin-left: 40px;
  }

  .iconsDiv {
    margin-left: 80px;
  }
}

@media (max-width: 425px) {
  .signUpMainDiv {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 150px;
  }

  .signUpImage {
    height: 155vw;
    width: 90vw;
    border-radius: 15px; /* Rounded corners */
  }

  .formMain {
    width: 90%;
    padding: 10px;
  }

  .signupForm {
    width: 75%;
    padding: 10px;
  }

  .formHeading {
    font-size: 1.5rem;
  }

  .formPara {
    margin: 0.6rem auto;
  }

  .formInput {
    height: 25px;
    font-size: 0.6rem;
  }

  .signUpAs {
    margin-left: 20px;
  }

  .TandC {
    margin-left: 20px;
  }

  .submitForm {
    font-size: 0.9rem;
    height: 35px;
  }

  .hrLine {
    margin-left: 20px;
  }

  .iconsDiv {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  .signupForm {
    width: 90%;
    height: auto;
    padding: 0;
  }

  .signUpImage {
    height: 165vw;
    width: 95vw;
  }
}

@media (max-width: 320px) {
  .signUpMainDiv {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .signUpImage {
    height: 170vw;
    width: 95vw;
  }

  .formMain {
    margin-left: 2vw;
  }

  .signupForm {
    width: 90%;
    padding: 5px;
    height: 90%;
  }

  .formHeading {
    font-size: 1.2rem;
  }

  .formPara {
    margin: 0.5rem auto;
  }

  .formInput {
    height: 20px;
    font-size: 0.6rem;
  }

  .signUpAs {
    margin-left: 10px;
  }

  .TandC {
    margin-left: 9px;
  }

  .submitForm {
    font-size: 0.8rem;
    height: 30px;
  }

  .hrLine {
    margin-left: 10px;
  }

  .iconsDiv {
    margin-left: 20px;
  }

  .customRadio {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 3px;
    margin-right: 0;
    margin-left: 10%;
    cursor: pointer;
    position: absolute;
    top: 1px;
  }
}
